{% extends 'base.html' %} {% load staticfiles %} {% block content %}


<div id="page-wrapper">


    <div class="header">
        <h1 class="page-header">
            Profile Estimator

        </h1>


        <ol class="breadcrumb">
            <li class="active" href="">Home</li>
        </ol>

    </div>
    <div id="page-inner">
        <div class="row"></div>
        <div class="row"></div>
        <div class="dashboard-cards">
            <div class="row">

                <div class="col-md-4 col-lg-4 text-center">
                    <div class="card" id="form-card">
                        <h3>{{ skills }}</h3>
                        <h3>{{ check }}</h3>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 text-center">
                    <div class="card" id="form-card">
                        {% for skill in dataskills %}
                        <h3>{{ skill.dataskill }}</h3>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 text-center">
                    <div class="card" id="form-card">

                        <h3>{{ dataskills | safe }}</h3>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 text-center">
                    <div class="card" id="form-card">
                        <h3>{{ results | safe }}</h3>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 text-center">
                    <div class="card" id="form-card">
                        <h3>{{ dictator }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
