{% extends 'base.html' %} {% load staticfiles %} {% block content %}


<div id="page-wrapper">


    <div class="header">
        <h1 class="page-header">
            Profile Estimator
            
        </h1>
        

        <ol class="breadcrumb">
            <li class="active" href="">Home</li>
        </ol>

    </div>
    <div id="page-inner">
        <div class="row"></div>
        <div class="row"></div>
        <div class="dashboard-cards">
            <div class="row">

                <div class="col-md-4 col-lg-4 text-center">
                    <div class="card" id="form-card">
                        <form method="POST" enctype="multipart/form-data">
                            <h4>Skills</h4>
                             {% for field in form %} {{ field.errors }}
                            <label>{{field.label}}</label>
                            <textarea placeholder="Add skills seprated by comma" name="{{field.name}}" class="form-control" /></textarea>
                            <div class=row></div>
                            {% endfor %}
                            <div class=row></div>
                            <button type="submit" class="btn btn-success">Submit</button>
                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
