{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Labs</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'font-awesome/css/fontawesome-all.css' %}" rel="stylesheet" />
    <script src="{% static 'font-awesome/js/fontawesome-all.min.js' %}"></script>
    <!-- Morris Chart Styles-->
    <link href="{% static 'js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Playball|Just+Another+Hand|Merienda+One|Alex+Brush" rel="stylesheet"> 
    <!--<link rel="stylesheet" href="{% static 'js/Lightweight-Chart/cssCharts.css' %}">-->

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href=""><i class="large material-icons">blur_on</i> <strong>Data Labs</strong></a>

                <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li><a target="_blank" href="https://www.linkedin.com/in/lukaszmalucha/"><i class="fa fa-user"></i> Profile</a></li>
                
            </ul>
        </nav>

        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="{% url 'mongo_loader' %}" class="waves-effect waves-dark"><img src="{% static 'img/mongodb_logo.png' %}" id="icon">MongoDB<span class="fas fa-angle-left" style="float: right;"></span></a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect waves-dark"><img src="{% static 'img/mysql_logo.png' %}" id="icon">MySQL<span class="fas fa-angle-left" style="float: right;"></span></a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->

       {% block content %}
       {% endblock %}
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <!-- Bootstrap Js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'materialize/js/materialize.min.js' %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static 'js/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/morris/morris.js' %}"></script>


    <script src="{% static 'js/easypiechart.js' %}"></script>
    <script src="{% static 'js/easypiechart-data.js' %}"></script>

    <script src="{% static 'js/Lightweight-Chart/jquery.chart.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/custom-scripts.js' %}"></script>
    

</body>

</html>
